<div class="palm-row #{is_dirFormatted}" x-mojo-touch-feedback="none">
    <div class="palm-row-wrapper">
        <div class="main-item-icon">
            <img src="images/icons/#{icon}.png" onerror="if(#{is_dir}) { this.src='images/icons/folder.png'; } else { this.src='images/icons/page_white.png'; }">
        </div>
        <div class="main-item-info">
            <div name="item-info-upper" class="main-item-info-upper">
                <div class="main-item-name truncating-text">#{name}</div>
            </div>
            <div name="item-info-lower" class="main-item-info-lower">
                <div class="main-item-modified-date truncating-text">#{modifiedFormatted}</div>
                <div class="main-item-size">#{bytesFormatted}</div>
            </div>
        </div>
    </div>
</div>
