<div>
    <table class="palm-divider labeled thin">
        <tbody>
            <tr>
                <td class="left"></td>
                <td class="label" x-mojo-loc="">Uploading</td>
                <td class="right"></td>
            </tr>
        </tbody>
    </table>
    <div class="palm-list">#{-listElements}</div>
    <table class="palm-divider labeled thin">
        <tbody>
            <tr>
                <td class="left"></td>
                <td class="label" x-mojo-loc="">Dropbox files</td>
                <td class="right"></td>
            </tr>
        </tbody>
    </table>
</div>
