<div class="palm-row upload-item" x-mojo-touch-feedback="delayed">
    <div class="palm-row-wrapper">
        <div class="main-item-icon">
            <img src="images/icons/upload.png">
        </div>
        <div class="upload-item-info">
            <div name="upload-item-info-upper" class="upload-item-info-upper">
                <div class="upload-item-name truncating-text">#{name}</div>
            </div>
            <div name="upload-item-info-lower" class="upload-item-info-lower">
                <div class="upload-item-progress-bar">
                    <div class="upload-item-progress"></div>
                </div>
            </div>
        </div>
    </div>
</div>
