/* TODO: put your application-specific CSS here */

.actionbar-wrapper
{
    overflow: hidden;
    height: 0px;
}

.actionbar-wrapper table
{
    margin-top: 2px;
}

.actionbar-wrapper table tr
{
    height: 46px;
}

.action
{
	text-align: center;
}

.action .disabled
{
	opacity: .3;
}
