<div class="palm-menu-label" style="width:32px; position:absolute; display:inline-block;">
	<div id="refresh-spinner" x-mojo-element="Spinner" class="" style="position:relative; left: -9px; top:8px;"></div>
</div>