<div id="palm-dialog-content" class="palm-dialog-content">
	<div id="title" class="palm-dialog-title">
		Input Dialog
	</div>
	<div class="palm-dialog-separator"></div>
	<div class="dialog-message" id="message"></div>
	<table border="0" cellpadding="5" class="input-box-text-table">
		<tr>
			<td>
				<div class="textfield-group" x-mojo-focus-highlight="true">
					<div class="title">
						<div x-mojo-element="TextField" class="inputText" id="input"></div>
					</div>
				</div>
			</td>
		</tr>
	</table>
	<div class="palm-dialog-buttons">
		<table border="0" cellpadding="10" width=100% class="input-box-button-table">
			<tr>
				<td>
					<div x-mojo-element="Button" id="okButton"></div>
				</td>
				<td>
					<div x-mojo-element="Button" id="cancelButton"></div>
				</td>
			</tr>
		</table>
	</div>
</div>