<div class="palm-page-header">
	<div class="palm-page-header-wrapper">
		<div id="preferencesTitle" class="title center" x-mojo-loc="">...</div>
	</div>
</div>
<div class="palm-body-text">
	<div class="palm-group">
		<div class="palm-group-title">
			Dropbox Account
		</div>
		<div class="palm-list">
			<div class="palm-row first">
				<div class="palm-row-wrapper">	
					<div class="label left" x-mojo-loc="">Email</div>
					<div id="email" class="title right truncating-text" style="display: none" x-mojo-loc="">-</div>
					<div id="email-spinner" x-mojo-element="Spinner"></div>
				</div>
			</div>
			<div class="palm-row last">
				<div class="palm-row-wrapper">	
					<div class="label left" x-mojo-loc="">Space Used</div>
					<div id="space-used" class="title right truncating-text" style="display: none" x-mojo-loc="">-</div>
					<div id="space-used-spinner" x-mojo-element="Spinner"></div>
				</div>
			</div>
		</div>
	</div>
</div>

<div id="clearButton" x-mojo-element="Button"></div>
<div id="unlinkButton" x-mojo-element="Button"></div>
