.palm-page-header .icon.app
{
    background-image: url(../smallicon.png);
}

.palm-page-header-wrapper .title.center
{
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    padding: 13px 40px;
}

/*リストアイテムアイコン*/
.main-item-icon
{
    float: left;
    width: 60px;
    text-align: center;
    padding-top: 8px;
}

.dropbox-item-dir .main-item-info-lower
{
    display: none;
}

.dropbox-item-dir .main-item-info-upper
{
    padding-top: 11px;
}

/*リストアイテム上段*/
.main-item-info-upper,
.upload-item-info-upper
{
}

.main-item-name,
.upload-item-name
{
}

/*リストアイテム下段*/
.main-item-info-lower,
.upload-item-info-lower
{
}

.main-item-size,
.main-item-modified-date,
.main-item-download-bytes
{
    font-size: .7em;
    color: gray;
}

.main-item-modified-date
{
    float: left;
    width: 180px;
}

.main-item-progress,
.upload-item-progress-bar
{
    float: left;
    width: 180px;
    margin-top: 5px;
    margin-right: 5px;
}

.main-item-size,
.main-item-download-bytes
{
    float: left;
}

/*upload progress*/
@-webkit-keyframes animate-progress {
    from {
        background-position: 0 0;
    }
    
    to {
        background-position: 180px 0;
    }
}      
.upload-item-progress-bar
{
    height: 11px;
    border-width: 0px 6px 0px 6px;
    -webkit-border-image: url(../images/progress-bar-background.png) 0 6 0 6 repeat repeat;
    -webkit-box-sizing: border-box;
}
.upload-item-progress
{
    width: 100%;
    background-image: url(../images/progress-bar-progress.png);
    background-repeat: no-repeat;
    height: 11px;
    -webkit-animation: animate-progress 1s linear 0s infinite normal;
}

/*inputbox*/
.input-box-text-table
{
    margin:0px 0px 0px 10px;
}
.input-box-button-table
{
    margin:0px 5px 0px 0px;
}
.input-box-button-table td
{
    width: 50%;
}
