.palm-page-header-wrapper .support.title {
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    padding: 13px 40px;
}

.app-support-info {
    position:relative;
    left:8px;
    top:10px;
    width:32px; 
    height:32px;
    vertical-align:bottom;
    padding: 0px 0px 0px 5px;
    float:left;
    background-repeat: no-repeat;
    background-position: center;
}

.app-support-info.web {
    background-image: url(../images/support/web.png);
}

.app-support-info.phone {
    background-image: url(../images/support/phone.png);
}

.app-support-info.email {
    background-image: url(../images/support/email.png);
}

.app-support-info.twitter {
    background-image: url(../images/support/twitter.png);
}

.app-support-info-icon {
    position: relative;
    left:0px;
    top: 0px;
    width:64px; 
    height:64px;
    background: url(../icon.png) no-repeat center ;
    padding: 0px 20px 0px 0px;
}
