<div class="palm-page-header">
	<div class="palm-page-header-wrapper">
		<div class="icon app"></div>
		<div id="login-title" class="title" x-mojo-loc="">Dropbox Login</div>
	</div>
</div>
<div class="palm-body-text">
	<div class="palm-group">
		<div class="palm-group-title">
			Email
		</div>
		<div class="palm-list">
			<div class='palm-row single'>
				<div class="palm-row-wrapper textfield-group" x-mojo-focus-highlight="true">
					<div class="title">
						<div id="email" x-mojo-element="TextField">
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="palm-group">
		<div class="palm-group-title">
			Password
		</div>
		<div class="palm-list">
			<div class="palm-row single">
				<div class="palm-row-wrapper textfield-group" x-mojo-focus-highlight="true">
					<div class="title">
						<div id="password" x-mojo-element="PasswordField">
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div id="errorMessage" class="palm-inline-error" style="display:none">
		<div id="errorMessageText" class="error-message">Password invalid. Try again.</div>
	</div>
	<div id="loginButton" x-mojo-element="Button"></div>
</div>
