<div class='palm-row' x-mojo-tap-highlight='momentary'>
    <div class='palm-row-wrapper'>
        <div class='app-support-info #{type}'></div> 
        <div class='title truncating-text'>#{-text}</div>
    </div>	                    
</div>
