<div class="palm-page-header">
	<div class="palm-page-header-wrapper">
		<div id="helpTitle" class="support title" x-mojo-loc=''>...</div>      
	</div>
</div>

<div id="app-support-info-app-icon" class="app-support-info-icon"></div>
<div class="palm-text-wrapper title">
	<div id="app-support-info-app-name" class="title left"></div>                         
	<div id="app-support-info-app-details" class="palm-body-text"></div>
</div>

<div>
	<div id="app-support-info-help-list" x-mojo-element="List" >
	</div>
</div>

<div>
	<div id="app-support-info-support-list" x-mojo-element="List" >
	</div>
</div>

<div class="palm-text-wrapper">
	<div class="palm-body-text" id="app-support-info-copyright"></div>
</div>
