<div id="actionbar">
    <div id="actionbar-wrapper" class="actionbar-wrapper">
        <div id="actionbar-outer" class="palm-drawer-container">
            <div id="actionbar-content" class="palm-drawer-contents">
                <table border='0' cellpadding='0' cellspacing='0' width='100%'>
                    <tr>#{-actions}</tr>
                </table>
            </div>
        </div>
    </div>
</div>